<%= form_with(url: post_comments_path(post.id), local: true, method: :post) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% form.fields_for :comment do |q| %>
  <div class="field">
    <%= q.hidden_field :post_id, :value => post.id %>
  </div>

  <div class="field">
    <%= q.label :text %>
    <%= q.text_field :text %>
  </div>

  <div class="actions">
    <%= q.submit %>
  </div>
  <%end%>
  <h1>Mohammed</h1>
<% end %>
